
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply leading-normal font-normal text-[rgba(255,255,255,0.87)] bg-[#242424];
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply flex place-items-center min-w-[320px] min-h-screen m-0;
}

button {
  @apply border text-[1em] font-medium bg-[#1a1a1a] cursor-pointer transition-[border-color] duration-[0.25s] px-[1.2em] py-[0.6em] rounded-lg border-solid border-transparent;
  font-family: inherit;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    @apply text-[#213547] bg-white;
  }
  a:hover {
    @apply text-[#747bff];
  }
  button {
    @apply bg-[#f9f9f9];
  }
}

#root {
  @apply max-w-screen-xl text-center mx-auto my-0 p-8;
}