<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/de6a757f-937e-471e-991e-40a28081ba3d/resourcegroups/pollinators/providers/Microsoft.Web/sites/pollinators</ResourceId>
    <ResourceGroup>pollinators</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pollinators.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e3f286b6-0717-4783-b4c8-60e4e359bc00</ProjectGuid>
    <PublishUrl>https://pollinators.scm.azurewebsites.net/</PublishUrl>
    <UserName>$pollinators</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>